## 2DA LIMPIEZA ARCHIVOS

Con el objetivo de poder correr bien las app en reder, hago una segunda limpieza de los archivos parquet para garantizar que no tenga porblemas de memoria

In [3]:
#Bibliotecas
import pandas as pd

In [4]:
#Cargo los datos de los archivos 
data_movies = pd.read_parquet('../Datasets/data_movies.parquet')
data_credits = pd.read_parquet('../Datasets/data_credits.parquet')

In [5]:
data_movies.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'belongs_to_collection_id',
       'belongs_to_collection_name', 'spoken_languages_1_iso',
       'spoken_languaje_1_name', 'production_companies_1_name',
       'production_companies_1_id', 'production_companies_2_name',
       'production_companies_2_id', 'production_countries_1_iso',
       'production_countries_1_name', 'genres_1_id', 'genres_1_name',
       'genres_2_id', 'genres_2_name', 'genres_3_id', 'genres_3_name',
       'release_year', 'return', 'retorno_US'],
      dtype='object')

In [7]:
data_movies = data_movies.drop(axis=1,columns=['runtime',
                                                'status',
                                                'tagline',
                                                'belongs_to_collection_id',
                                                'belongs_to_collection_name', 
                                                'spoken_languages_1_iso',
                                                'spoken_languaje_1_name', 
                                                'production_companies_1_name',
                                                'production_companies_1_id', 
                                                'production_companies_2_name',
                                                'production_companies_2_id', 
                                                'production_countries_1_iso',
                                                'production_countries_1_name', 
                                                'genres_1_id',
                                                'genres_2_id', 
                                                'genres_2_name',
                                                'genres_3_id',
                                                'genres_3_name'
                                                ])

In [9]:
data_movies.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'title', 'vote_average', 'vote_count',
       'genres_1_name', 'release_year', 'return', 'retorno_US'],
      dtype='object')

In [8]:
data_credits = data_credits.drop(axis=1, columns=['cast_name_5',
                                                  'cast_name_6',
                                                  'cast_name_7',
                                                  'cast_name_8',
                                                  'cast_name_9',
                                                  'cast_name_10'])

In [10]:
data_credits.columns

Index(['id', 'cast_name', 'cast_name_2', 'cast_name_3', 'cast_name_4',
       'director'],
      dtype='object')

In [12]:
data_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45439 entries, 0 to 45475
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           45439 non-null  int64
 1   cast_name    45439 non-null  object
 2   cast_name_2  45439 non-null  object
 3   cast_name_3  45439 non-null  object
 4   cast_name_4  45439 non-null  object
 5   director     45439 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.4+ MB

In [13]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45363 entries, 0 to 45465
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45363 non-null  int64
 1   id                 45363 non-null  int64
 2   original_language  45352 non-null  object
 3   overview           44422 non-null  object
 4   popularity         45363 non-null  float64
 5   release_date       45363 non-null  object
 6   revenue            45363 non-null  float64
 7   title              45363 non-null  object
 8   vote_average       45363 non-null  float64
 9   vote_count         45363 non-null  float64
 10  genres_1_name      42979 non-null  object
 11  release_year       45363 non-null  int32
 12  return             45363 non-null  float64
 13  retorno_US         45363 non-null  float64
dtypes: float64(6), int32(1), int64(2), object(5)
memory usage: 5.0+ MB

In [11]:
# Exportar los DataFrames a archivos Parquet
data_credits.to_parquet('data_credits.parquet', engine='pyarrow')
data_movies.to_parquet('data_movies.parquet', engine='pyarrow')