## 2DA LIMPIEZA ARCHIVOS

Con el objetivo de poder correr bien las app en reder, hago una segunda limpieza de los archivos parquet para garantizar que no tenga porblemas de memoria

In [187]:
#Bibliotecas
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [188]:
#Cargo los datos de los archivos 
data_movies = pd.read_parquet('../Datasets/data_movies.parquet')
data_credits = pd.read_parquet('../Datasets/data_credits.parquet')

In [189]:
data_movies.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'belongs_to_collection_id',
       'belongs_to_collection_name', 'spoken_languages_1_iso',
       'spoken_languaje_1_name', 'production_companies_1_name',
       'production_companies_1_id', 'production_companies_2_name',
       'production_companies_2_id', 'production_countries_1_iso',
       'production_countries_1_name', 'genres_1_id', 'genres_1_name',
       'genres_2_id', 'genres_2_name', 'genres_3_id', 'genres_3_name',
       'release_year', 'return', 'retorno_US'],
      dtype='object')

In [190]:
data_movies = data_movies.drop(axis=1,columns=['runtime',
                                                'status',
                                                'tagline',
                                                'belongs_to_collection_id',
                                                'belongs_to_collection_name', 
                                                'spoken_languages_1_iso',
                                                'spoken_languaje_1_name', 
                                                'production_companies_1_name',
                                                'production_companies_1_id', 
                                                'production_companies_2_name',
                                                'production_companies_2_id', 
                                                'production_countries_1_iso',
                                                'production_countries_1_name', 
                                                'genres_1_id',
                                                'genres_2_id', 
                                                'genres_2_name',
                                                'genres_3_id',
                                                'genres_3_name'
                                                ])

In [191]:
data_movies.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'title', 'vote_average', 'vote_count',
       'genres_1_name', 'release_year', 'return', 'retorno_US'],
      dtype='object')

In [192]:
data_credits = data_credits.drop(axis=1, columns=['cast_name_5',
                                                  'cast_name_6',
                                                  'cast_name_7',
                                                  'cast_name_8',
                                                  'cast_name_9',
                                                  'cast_name_10'])

In [193]:
data_credits.columns

Index(['id', 'cast_name', 'cast_name_2', 'cast_name_3', 'cast_name_4',
       'director'],
      dtype='object')

In [194]:
data_credits.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45439 entries, 0 to 45475
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           45439 non-null  int64
 1   cast_name    45439 non-null  object
 2   cast_name_2  45439 non-null  object
 3   cast_name_3  45439 non-null  object
 4   cast_name_4  45439 non-null  object
 5   director     45439 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.4+ MB

In [195]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45363 entries, 0 to 45465
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45363 non-null  int64
 1   id                 45363 non-null  int64
 2   original_language  45352 non-null  object
 3   overview           44422 non-null  object
 4   popularity         45363 non-null  float64
 5   release_date       45363 non-null  object
 6   revenue            45363 non-null  float64
 7   title              45363 non-null  object
 8   vote_average       45363 non-null  float64
 9   vote_count         45363 non-null  float64
 10  genres_1_name      42979 non-null  object
 11  release_year       45363 non-null  int32
 12  return             45363 non-null  float64
 13  retorno_US         45363 non-null  float64
dtypes: float64(6), int32(1), int64(2), object(5)
memory usage: 5.0+ MB

In [196]:
# Exportar los DataFrames a archivos Parquet
data_credits.to_parquet('data_credits.parquet', engine='pyarrow')
data_movies.to_parquet('data_movies.parquet', engine='pyarrow')

# Archivo de datos para modelo de Recomendación

A continuación realizo una limpieza específica del archivo para poder trabajarlo en el modelo de recomendación:

**Data_Movies:**

In [197]:
data_movies = data_movies.drop(axis=1, columns= ['budget','release_date',
                                    'revenue',
                                    'vote_count', 
                                    'return', 
                                    'retorno_US'
                                    ])

In [198]:
data_movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45363 entries, 0 to 45465
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45363 non-null  int64
 1   original_language  45352 non-null  object
 2   overview           44422 non-null  object
 3   popularity         45363 non-null  float64
 4   title              45363 non-null  object
 5   vote_average       45363 non-null  float64
 6   genres_1_name      42979 non-null  object
 7   release_year       45363 non-null  int32
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 2.9+ MB

**Data_credits:**

In [199]:
data_credits = data_credits.drop(axis=1, columns=['cast_name_2',
                                    'cast_name_3', 
                                    'cast_name_4'
                                    ])

In [200]:
data_credits.info

<bound method DataFrame.info of            id         cast_name          director
0         862         tom hanks     john lasseter
1        8844    robin williams   larry j. franco
2       15602    walter matthau     howard deutch
3       31357   whitney houston   forest whitaker
4       11862      steve martin    alan silvestri
...       ...               ...               ...
45471  439050      leila hatami  hamid nematollah
45472  111109      angel aquino          lav diaz
45473   67758     erika eleniak    mark l. lester
45474  227506  iwan mosschuchin  yakov protazanov
45475  461257              none     daisy asquith

[45439 rows x 3 columns]>

**Merge:**

In [201]:
data = pd.merge(data_movies,data_credits, on = 'id')

In [202]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45375 entries, 0 to 45374
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 45375 non-null  int64
 1   original_language  45364 non-null  object
 2   overview           44434 non-null  object
 3   popularity         45375 non-null  float64
 4   title              45375 non-null  object
 5   vote_average       45375 non-null  float64
 6   genres_1_name      42992 non-null  object
 7   release_year       45375 non-null  int32
 8   cast_name          45375 non-null  object
 9   director           45375 non-null  object
dtypes: float64(2), int32(1), int64(1), object(6)
memory usage: 3.3+ MB

In [203]:
# Tomo la data del año 2000 en adelante, con el objetivo de bajarle tamaño al archivo
data_filtrada = data[data['release_year'] > 2000] 
data_filtrada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23214 entries, 707 to 45374
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 23214 non-null  int64
 1   original_language  23208 non-null  object
 2   overview           22696 non-null  object
 3   popularity         23214 non-null  float64
 4   title              23214 non-null  object
 5   vote_average       23214 non-null  float64
 6   genres_1_name      22156 non-null  object
 7   release_year       23214 non-null  int32
 8   cast_name          23214 non-null  object
 9   director           23214 non-null  object
dtypes: float64(2), int32(1), int64(1), object(6)
memory usage: 1.9+ MB

In [204]:
features = ['overview',
            'cast_name',
            'original_language',
            'genres_1_name', 
            'director'
            ]

# Llenado de valores nulos a las características categóricas
for feature in features:
    if data_filtrada[feature].dtype == 'object':
        data_filtrada[feature] = data[feature].fillna('')

In [205]:
data_filtrada['texto_combinado'] = data_filtrada['overview'] + ' ' + data_filtrada['genres_1_name']  + ' ' + data_filtrada['cast_name'] + ' ' + data_filtrada['director'] + ' ' + data_filtrada['original_language']

In [206]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler

tfidf = TfidfVectorizer(stop_words='english')    #Instancio

tfidf_matrix = tfidf.fit_transform(data_filtrada['texto_combinado'])  #vectorizo

In [207]:
data_filtrada.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23214 entries, 707 to 45374
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 23214 non-null  int64
 1   original_language  23214 non-null  object
 2   overview           23214 non-null  object
 3   popularity         23214 non-null  float64
 4   title              23214 non-null  object
 5   vote_average       23214 non-null  float64
 6   genres_1_name      23214 non-null  object
 7   release_year       23214 non-null  int32
 8   cast_name          23214 non-null  object
 9   director           23214 non-null  object
 10  texto_combinado    23214 non-null  object
dtypes: float64(2), int32(1), int64(1), object(7)
memory usage: 2.0+ MB

In [208]:
data_filtrada.columns

Index(['id', 'original_language', 'overview', 'popularity', 'title',
       'vote_average', 'genres_1_name', 'release_year', 'cast_name',
       'director', 'texto_combinado'],
      dtype='object')

In [209]:
data_filtrada.head()

,id,original_language,overview,popularity,title,vote_average,genres_1_name,release_year,cast_name,director,texto_combinado
707,131232,en,"Two Sicilian friends, Nunzio and Pino, share t...",0.003949,two friends,0.0,Drama,2002,francesco sframeli,francesco sframeli,"Two Sicilian friends, Nunzio and Pino, share t..."
867,79782,en,An atmospheric coming-of-age story featuring a...,0.147130,venice,7.5,Drama,2010,marcin walewski,jan jakub kolski,An atmospheric coming-of-age story featuring a...
1080,141210,en,"The town of Derry has a secret, but no one tol...",0.135596,the sleepover,8.0,Comedy,2013,josh feldman,chris cullari,"The town of Derry has a secret, but no one tol..."
2112,143750,en,"As her surroundings are invaded by outsiders, ...",0.211754,the farmer's wife,10.0,Drama,2012,james cartwright,john parish,"As her surroundings are invaded by outsiders, ..."
2562,84198,en,"Using personal stories, this powerful document...",0.501046,a place at the table,6.9,Documentary,2012,jeff bridges,kristi jacobson,"Using personal stories, this powerful document..."

In [212]:
data_filtrada.to_parquet('../data_filtrada.parquet', engine='pyarrow')